.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#drum-machine{
  background-color: #363636;
  min-width: 600px;
  height: 400px;
  border-radius: 10px;
  display: flex;
}
.side{
  width: 50%;
  height: 100%;
}
#logo{
  display: flex;
  flex-direction: row;
  height: 8%;
  width: 80%;
  align-items: center;
  border-top: double 15px black;
  border-bottom: double 15px black;
  padding: 7px 0px;
  margin: 30px 30px 0px 30px;
}
#logo-inner{
  width: 100%;
  height: 100%;
  display: flex;
  border: solid 1px black;
}
.logo-text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
  height: auto;
}
.logo-text-one {
  width: 50%;
  font-family: fantasy;
  font-size: 1.8em;
  color: red;
}
.logo-text-two {
  line-height: .9em;
}
.logo-text-three{
  font-family: fantasy;
  font-size: 1.5em;
}
#drum-pads{
  height: 56.5%;
  width: 75.5%;
  margin: 36px auto 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.pad-row{
  height: 70px;
  width: auto;
  display: flex;
  justify-content: space-between;
}
.drum-pad{
  width: 70px;
  height: 70px;
  background-color: #808080;
}