.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
}
#drum-machine{
  background-color: #363636;
  min-width: 600px;
  height: 400px;
  border-radius: 10px;
  display: flex;
}
.side{
  width: 50%;
  height: 100%;
}
#logo{
  display: flex;
  flex-direction: row;
  height: 8%;
  width: 80%;
  align-items: center;
  border-top: double 15px black;
  border-bottom: double 15px black;
  padding: 7px 0px;
  margin: 30px 30px 0px 30px;
}
#logo-inner{
  width: 100%;
  height: 100%;
  display: flex;
  border: solid 1px black;
}
.logo-text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
  height: auto;
}
.logo-text-one {
  width: 50%;
  font-family: fantasy;
  font-size: 1.8em;
  color: red;
}
.logo-text-two {
  line-height: .9em;
}
.logo-text-three{
  font-family: fantasy;
  font-size: 1.5em;
}
#drum-pads{
  height: 56.5%;
  width: 75.5%;
  margin: 36px auto 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.pad-row{
  height: 70px;
  width: auto;
  display: flex;
  justify-content: space-between;
}
.drum-pad{
  width: 70px;
  height: 70px;
  background-color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: black 3px 3px 5px;
}
.drum-pad:active{
  background-color: red;
  color: white;
  font-weight: bold;
  height: 67px;
  box-shadow: red 0px 3px;
}
#display{
  width: 200px;
  border-top: solid 10px black;
  border-bottom: solid 10px black;
  border-left: solid 20px black;
  border-right: solid 20px black;
  height: 54px;
  background-color: #7ac774;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#controls{
  height: 56.5%;
  width: 75.5%;
  margin: 36px auto 0 auto;
  display: flex;
  flex-direction: row;
}
.control-section{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.switch{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.switch-control{
  width: 60px;
  height: 23px;
  background-color: black;
  display: flex;
}
.switch-button{
  height: 21px;
  background-color: red;
  width: 28px;
  border: solid 1px black;
}
.slider-tray{
  width: 4px;
  height: 196px;
  background-color: black;
}
.slider{
  width: 51px;
  height: 5px;
  background-color: red;
  margin-left: -24px;
}
#sliders{
  justify-content: center;
  align-items: center;
}